body{
    margin:0;
    padding:0;
}
span{
    background:orangered;
    width: auto;
    height: auto;
    display: block;
    /* 인라인요소를 블록요소로 바꿈 */
}

div{
    background: gold;
    width:120px;
    height:30px;
    margin: 20px;
    padding: 20px;
    display: inline;
    /* 블록요소를 인라인요소로 바꿈 */
}